/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* colors */
  --global-color-neutral-100: hsl(240deg,60%,97%);
  --global-color-neutral-200: hsl(240deg,15%,87%);
  --global-color-neutral-300: hsl(240deg,10%,77%);
  --global-color-neutral-400: hsl(240deg,5%,65%);
  --global-color-neutral-500: hsl(240deg,5%,50%);
  --global-color-neutral-600: hsl(240deg,5%,40%);
  --global-color-neutral-700: hsl(240deg,10%,30%);
  --global-color-neutral-800: hsl(240deg,15%,20%);
  --global-color-neutral-900: hsl(240deg,20%,10%);
  
  --global-page-color: var(--global-color-neutral-900);
  --global-page-bgColor: var(--global-color-neutral-100);
  --global-heading-color: var(--global-color-neutral-900);
  --global-meta-color: var(--global-color-neutral-500);
  --global-border-color: var(--global-color-neutral-200);
  --global-surface-color: var(--global-color-neutral-100);
  
  /* typography */
  --global-page-fontFamily: 'Xanh Mono', serif;  
  --global-font-weight-normal: 400;
  
  /* Whitespace */
  --global-baseline: calc(1rem / 2);
  --global-whitespase-xxs: calc(var(--global-baseline) / 2);
  --global-whitespase-xs: var(--global-baseline);
  --global-whitespase-s: calc(var(--global-baseline) * 2);
  --global-whitespase-m: calc(var(--global-baseline) * 3);
  --global-whitespase-base: calc(var(--global-baseline) * 3);
  --global-whitespase-l: calc(var(--global-whitespase-base) * 2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --global-page-color: var(--global-color-neutral-100);
    --global-heading-color: var(--global-color-neutral-100);
    --global-page-bgColor: var(--global-color-neutral-900);
    --global-border-color: var(--global-color-neutral-800);
    --global-surface-color: var(--global-color-neutral-800);
  }
}

html {
  font-size: 87.5%;
  font-family: var(--global-page-fontFamily);
  font-weight: var(--global-font-weight-normal);
  line-height: 1.5;  
  background-color: var(--global-page-bgColor);
  color: var(--global-page-color);    
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--global-meta-color);
  outline-offset: .5em;
  border-radius: 2rem;
}

.app {   
  --app-header-height: calc(var(--global-whitespase-base) * 2 + var(--global-whitespase-m));
  --app-picture-height: calc(100vh - var(--app-header-height) * 2); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__header {
  padding: var(--global-whitespase-base);
  display: flex;
  flex-wrap: wrap;
  gap: var(--global-whitespase-base);
}

.app__date {
  font-style: italic;
}

.app__intro,
.app__navigation {
  display: flex;
  gap: var(--global-whitespase-base);
}

.app__logo {
  font-weight: var(--global-font-weight-normal);
  font-size: 1rem;  
  display: inline-flex;
  align-items: center;
  gap: var(--global-whitespase-xs);
}

.app__date {
  flex-shrink: 0;
}

.app__button {
  all: unset;
  display: flex;
  align-items: center;
  gap: var(--global-whitespase-xs);
}

.app__button:active {
  transform: translateY(1px);
}

.app__button svg {
  height: calc(var(--global-baseline) * 2);
  width: calc(var(--global-baseline) * 2);
}

.app__main {
  padding: 0 var(--global-whitespase-base) var(--global-whitespase-base);
  display: flex;
  flex-direction: column;  
  justify-content: flex-end;
  flex-grow: 1;
}

.app__figure {  
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__player {
  width: 100%;
  max-width: 1000px; /* needs to be something */
  aspect-ratio: 16 / 9;
  height: auto;
}

.app__img {
  max-height: var(--app-picture-height);
  width: auto;
}

.app__body {
  position: relative;
  grid-column: 1 / span 3;  
  z-index: 20;
  padding-top: var(--global-whitespase-base);
}

.app__info {
  max-width: 84ch;
}

.app__title {
  font-weight: var(--global-font-weight-normal);
  font-style: italic;
  font-size: 1rem;
  margin-bottom: var(--global-whitespase-base);
}

.app__copyright {
  margin-top: var(--global-whitespase-base);
}

.app__footer {
  margin-top: var(--global-whitespase-l);  
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--global-whitespase-base);
}

.app__footer a {
  color: inherit;
}

.app__loading {
  display: none;
  font-style: italic;
}

.is-today .app__button--next,
.is-today .app__button--today,
.is-yesterday .app__button--next {
  display: none;
}

.is-starting .app__loading,
.is-loading .app__loading {
  display: block;
}

.is-starting .app__date,
.is-starting .app__navigation,
.is-starting .app__content,
.is-loading .app__content {
  display: none;
}

@media (min-width: 55em) {
  :root {
    --global-whitespase-base: calc(var(--global-baseline) * 5);
  }

  html {
    font-size: 100%;
  }

  .app__header {
    position: sticky;
    top: 0;
    flex-direction: row;
  }

  .app__intro,
  .app__navigation {
    flex-grow: 0;
  }
  
  .app__figure {
    --app-picture-opacity: calc(var(--scrollDifference) / 1.25);
    --app-picture-scale: calc(var(--scrollDifference) / 20);
    will-change: opacity, transform;
    height: var(--app-picture-height);    
    position: sticky;
    top: calc(var(--app-header-height));
    opacity: calc( 1 - var(--app-picture-opacity));
    transform: scale(calc(1 - var(--app-picture-scale)));
    z-index: 10;
  }
}
