/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* typography */
  --global-root-font-size: 15;

  /* colors */
  --global-color-blue: #0074d9;
  --global-color-purple: #b10dc9;
  --global-color-red: #ff4136;

  --global-color-neutral-100: hsl(240deg,60%,97%);
  --global-color-neutral-200: hsl(240deg,15%,87%);
  --global-color-neutral-300: hsl(240deg,10%,77%);
  --global-color-neutral-400: hsl(240deg,5%,65%);
  --global-color-neutral-500: hsl(240deg,5%,50%);
  --global-color-neutral-600: hsl(240deg,5%,40%);
  --global-color-neutral-700: hsl(240deg,10%,30%);
  --global-color-neutral-800: hsl(240deg,15%,20%);
  --global-color-neutral-900: hsl(240deg,20%,10%);

  --global-page-color: var(--global-color-neutral-900);
  /* --global-page-bgColor: white; */
  --global-page-bgColor: var(--global-color-neutral-100);
  --global-heading-color: var(--global-color-neutral-900);
  --global-meta-color: var(--global-color-neutral-500);
  --global-border-color: var(--global-color-neutral-200);
  --global-surface-color: var(--global-color-neutral-100);

  /* --global-page-fontFamily: 'Space Grotesk', sans-serif; */
  /* --global-page-fontFamily: 'Space Mono', sans-serif; */
  --global-page-fontFamily: 'Xanh Mono', serif;
  /* --global-page-fontFamily: 'GT Alpina Tw Trial', serif; */
  /* --global-page-fontFamily: 'Kommuna Demo', serif; */
  /* --global-page-fontFamily: 'Newsreader', serif; */
  /* --global-page-fontFamily: 'Libre Baskerville', serif; */
  /* --global-page-fontFamily: 'Times', serif; */
  /* --global-page-fontFamily: 'Inter', sans-serif; */
  /* --global-heading-fontFamily: 'Space Grotesk', sans-serif; */
  /* --global-heading-fontFamily: 'Inter', sans-serif; */
  --global-heading-fontFamily: var(--global-page-fontFamily);
  /* --global-meta-fontFamily: 'Space Mono', sans-serif; */
  --global-meta-fontFamily: var(--global-page-fontFamily);

  --global-font-weight-normal: 200;

  /* Whitespace */
  --global-baseline: calc(1rem / 2);

  --global-whitespase-xxs: calc(var(--global-baseline) / 2);
  --global-whitespase-xs: var(--global-baseline);
  --global-whitespase-s: calc(var(--global-baseline) * 2);
  --global-whitespase-base: calc(var(--global-baseline) * 3);
  --global-whitespase-m: calc(var(--global-baseline) * 4);
  --global-whitespase-l: calc(var(--global-whitespase-m) * 2);
  --global-whitespase-xl: calc(var(--global-whitespase-base) * 3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --global-page-color: var(--global-color-neutral-100);
    --global-heading-color: var(--global-color-neutral-100);
    --global-page-bgColor: var(--global-color-neutral-900);
    --global-border-color: var(--global-color-neutral-800);
    --global-surface-color: var(--global-color-neutral-800);
  }
}

html {
  line-height: 1.5;
  font-weight: var(--global-font-weight-normal);
  background-color: var(--global-page-bgColor);
  color: var(--global-page-color);  
  font-family: var(--global-page-fontFamily);
}

img,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

.app {   
  --app-header-height: calc(var(--global-whitespase-m) * 2 + var(--global-whitespase-base));
  --app-visual-height: calc(100vh - var(--app-header-height));
  --app-picture-height: calc(100vh - var(--app-header-height) * 2 - var(--global-whitespase-m) * 2); 
  min-height: 100vh;
}

.app__main {
  display: flex;
  flex-direction: column;
  min-height: var(--app-visual-height);
  padding: var(--global-whitespase-m);
  justify-content: flex-end;
}

.app__header {
  padding: var(--global-whitespase-m);
  display: flex;
  flex-wrap: wrap;
  gap: var(--global-whitespase-m);
  position: sticky;
  top: 0;
}

.app__meta {
  font-style: italic;
}

.app__intro,
.app__navigation {
  display: flex;
  gap: var(--global-whitespase-m)
}

.app__navigation {
  justify-content: space-between;
}

.app__logo {
  font-weight: var(--global-font-weight-normal);
  font-family: var(--global-heading-fontFamily);
  font-size: 1rem;  
  display: inline-flex;
  align-items: center;
  gap: var(--global-whitespase-xs);
}

.app__button {
  all: unset;
  display: inline-flex;
  align-items: center;
  gap: var(--global-whitespase-xs);
}

.app__logo svg,
.app__button svg {
  height: calc(var(--global-baseline) * 2);
  width: calc(var(--global-baseline) * 2);

}

.app__picture {
  height: var(--app-picture-height);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: calc(var(--app-header-height) + var(--global-whitespase-m));
  margin-bottom: var(--global-whitespase-m);
  z-index: 10;
}

.app__video {
  height: 100%;
  width: 100%;
  max-height: var(--app-picture-height);
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__player {
  height: 100%;
  aspect-ratio: 16 / 9;
}

.app__img {
  max-height: var(--app-picture-height);
  width: auto;
}

.app__body {
  position: relative;
  grid-column: 1 / span 3;  
  z-index: 20;
  padding-top: var(--global-whitespase-m);
}

.app__info {
  max-width: 84ch;
}

.app__title {
  font-weight: var(--global-font-weight-normal);
  font-style: italic;
  font-family: var(--global-heading-fontFamily);
  font-size: 1rem;
  margin-bottom: var(--global-whitespase-m);
}

.app__meta {
  flex-shrink: 0;
}

.app__copyright {
  margin-top: var(--global-whitespase-m);
}

.app__footer {
  margin-top: var(--global-whitespase-l);
  color: var(--global-meta-color);
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--global-whitespase-m);
}

.meta-link {
  color: var(--global-meta-color);
}

.u-meta {
  color: var(--global-meta-color);
}

.app__loading {
  display: none;
}

.is-starting .app__loading,
.is-loading .app__loading {
  display: block;
}

.is-starting .app__meta,
.is-starting .app__navigation,
.is-starting .app__content,
.is-loading .app__content {
  display: none;
}
